#map0{
    width:100%;
    height: auto;
    z-index:-9999;
    position: absolute;
  }
#väg{
    position: absolute;
    z-index: 5;
}
.map{
    margin-top: 30px;
}
.input{
    float: right;
    margin-top: -30px;
}