$background-color: rgb(255,255,255);
$background-color : linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(121,9,30,1) 25%, rgba(255,0,0,1) 100%); ;
$navbar-background-color: #ffffff; // Set your desired background color
$navbar-text-color: rgb(176,31,55); // Set your desired text color


@import "bootstrap/scss/bootstrap";

$utilities: map-merge(
  $utilities,
  (
    "cursor": (
      property: cursor,
      class: cursor,
      responsive: false,
      values: auto pointer grab,
    )
  )
);

.navbar {
  background-color: $navbar-background-color;

  .navbar-brand,
  .navbar-nav .nav-link,
  .navbar-toggler-icon {
    color: $navbar-text-color;
  }

  .navbar-toggler {
    border-color: $navbar-text-color;
  }

  .form-control {
    background-color: $navbar-background-color;
    color: $navbar-text-color;

    &:focus {
      background-color: $navbar-background-color;
      color: $navbar-text-color;
    }
  }

  .btn-outline-light {
    color: $navbar-text-color;
    border-color: $navbar-text-color;

    &:hover {
      background-color: $navbar-background-color;
      color: #fff;
    }
  }
}